<a href="https://colab.research.google.com/github/narayana-thota/campus_placement_training/blob/main/Oops_Concept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#multi=level inheritance
class pet:
  def sound(self):
    print("Animal sound")
class dog(pet):
  def bark(self):
    print("Dog barks...!")
class puppy(dog):
  def weep(self):
    print("Puppy weeps...!")
p=puppy()
p.sound()
p.bark()
p.weep()

Animal sound
Dog barks...!
Puppy weeps...!

In [ ]:
'''code for matg operations using base class,with lst and 2nd delivery class
respectively
create  an object where derived will be executed and perform multiple operations'''

'code for matg operations using base class,with lst and 2nd delivery class\nrespectively\ncreate  an object where derived will be executed and perform multiple operations'

In [ ]:
class numbers:
  def __init__(self,a,b):
    self.a=a
    self.b=b
class basicops(numbers):
  def add(self):
    return self.a+self.b
  def sub(self):
    return self.a-self.b
class advops(basicops):
  def mul(self):
    return self.a+self.b
  def div(self):
    return self.a/self.b
x=int(input("enter the x value"))
y=int(input("enter the y value"))
calc = advops(x,y)
print("addition",calc.add())
print("subtraction",calc.sub())
print("multiplication",calc.mul())
print("division",calc.div())

enter the x value20
enter the y value30
addition 50
subtraction -10
multiplication 50
division 0.6666666666666666

In [ ]:
''' code for student grading system , where student base class has to
be derived by marks and marks with grades in a multi-level inheritance .
calculate the grade to be allotted to the student with marks A,B,C,D with >=90,
>=75, >=60 or less than 60 respectively .
student: Henry
marks : [85, 90, 78, 92]
calculate and display marks, avg, grade of Henry '''
'''

In [ ]:
class student:
  def __init__(self,a,b,c,d):
    self.a=a
    self.b=b
    self.c=c
    self.d=d
class

In [ ]:
class student:
  def __init__(self,name):
    self.name=name
class marks(student):
  def  __init__(self,name,marks):
    super().__init__(name)
    self.marks=marks
  def total_marks(self):
    return sum(self.marks)
class grade(marks):
  def average(self):
    return self.total_marks()/len(self.marks)
  def cal_grade(self):
    avg=self.average()
    if avg>=90:
      return "A"
    elif avg>=75:
      return "B"
    elif avg>=60:
      return "C"
    else:
      return "D"
name=input("enter the name")
marks=list(map(int,input("enter the marks").split()))
student=grade(name,marks)
print("Name:",student.name)
print("Student Name:",student.name)
print("Total Marks:",student.total_marks())
print("Average Marks:",student.average())
print("Grade:",student.cal_grade())

enter the namenarayana
enter the marks78 85 90 96 99
Name: narayana
Student Name: narayana
Total Marks: 448
Average Marks: 89.6
Grade: B

In [ ]:
#hierachal inheritence
class pet:
  def __init__(self,name):
    self.name=name
  def sound(self):
    print(f"{self.name} makes a sound")
class dog(pet):
  def sound(self):
    print(f"{self.name} barks")
class cat(pet):
  def sound(self):
    print(f"{self.name} meows")
d=dog("milo")
c=cat("tom")
d.sound()
c.sound()

milo barks
tom meows

In [ ]:
"""Hierachial geomentry operations of different shapes area values of all circle,rectangle,triangle derived classes"""
import math
class shape:
  def __init__(self,d1,d2=0):
    self.d1=d1
    self.d2=d2
class rectangle(shape):
  def area(self):
    return self.d1*self.d2
class circle(shape):
  def area(self):
    return math.pi*self.d1*self.d1
class triangle(shape):
  def area(self):
    return 0.5*self.d1*self.d2
rect=rectangle(10,5)
cir=circle(7)
tri=triangle(8,6)
print("area of rectangle",rect.area())
print("area of circle",cir.area())
print("area of triangle",tri.area())

area of rectangle 50
area of circle 153.93804002589985
area of triangle 24.0

In [ ]:
#abstarction of base class for evaluating the area of sq,rect,tri
from abc import ABC,abstractmethod
from math import pi
class shape(ABC):
  def __init__(self,name):
    self.name=name
  @abstractmethod
  def area(self):
    pass
class rectangle(shape):
  def __init__(self,l,b):
    super().__init__("rectangle")
    self.l=l
    self.b=b
  def area(self):
    return self.l*self.b
class circle(shape):
  def __init__(self,r):
    super().__init__("circle")
    self.r=r
  def area(self):
    return pi * self.r * self.r
class triangle(shape):
  def __init__(self,l,h):
    super().__init__("triangle")
    self.l=l
    self.h=h
  def area(self):
    return 0.5*self.l*self.h
rect=rectangle(10,5)
cir=circle(7)
tri=triangle(8,6)
print("Area of rectangle:",rect.area())
print("Area of circle:",cir.area())
print("Area of triangle:",tri.area())

Area of rectangle: 50
Area of circle: 153.93804002589985
Area of triangle: 24.0

In [ ]:
class car:
  def__init__(self,brand,speed):
    self.brand=brand
    self.__speed=speed
  def get_speed(self):
    return self.__speed
  def set_speed(self,speed):
    if speed<0:
      self.__speed=0
    else:
      self.__speed=speed
      print("car is not moving")

In [ ]:
#protected attributes
class student:
  def __init__(self,name,age):
    self._name=name
    self._age=age
  def display_info(self):
    print(f"Name:{self._name},Age:{self._age}")

s=student("narayana",22)
print(s._name)
s.display_info()

narayana
Name:narayana,Age:22

In [ ]:
#private methods
class emp:
  def __init__(self,name,salary):
    self.__name=name
    self.__salary=salary
  def __bonus(self):
    return self.__salary*0.4
  def pack(self):
    return self.__salary+self.__bonus()
e=emp("narayana",50000)
print(e.pack())

70000.0

In [ ]:
"""claculate the average of 4 subjects of a student by taking protected attributes ,pass name and four
subjects marks to class student find gpa and assign the avg of gpa
name='******'
marks=[99,89,64,9,5]
output=average of grades=90.0
output = name ****** ,gpa=90.00'' """
class student:
  def __init__(self,name,grades):
    self._name=name
    self._grades=grades
  def gpa(self):
    if not self._grades:
      return 0.0
    return sum(self._grades)/len(self._grades)
  def display_info(self):
    print(f"Name:{self._name},GPA:{self.gpa():.2f}")
s=student("narayana",[99,89,64,9,5])
print
s.display_info()

Name:narayana,GPA:53.20

In [ ]:
"""TRY AND EXCEPTIONS"""
#handle zero exception
num1=int(input("enter the numerator"))
num2=int(input("enter the denominator"))
try:
  quo=num1/num2
  print("Quotient:",quo)
except:
  print("Denominator cannot be zero")

enter the numerator2
enter the denominator0
Denominator cannot be zero

In [ ]:
try:
  num=int(input("enter a number"))
  print(num**3)
except ValueError:
  print("please enter carefully, enter only numeric")
except KeyboardInterrupt:
  print("enter only numeric")
print("exit from the exception")

enter a number5
125
exit from the exception